<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>bankapplication</display-name>
	<filter>
		<description>
		</description>
		<display-name>TransferFilter</display-name>
		<filter-name>TransferFilter</filter-name>
		<filter-class>controller.TransferFilter</filter-class>
	</filter>
	<filter>
		<description>
		</description>
		<display-name>ChangePasswordFilter</display-name>
		<filter-name>ChangePasswordFilter</filter-name>
		<filter-class>controller.ChangePasswordFilter</filter-class>
	</filter>
	<filter>
		<description>
		</description>
		<display-name>newPasswordFilter</display-name>
		<filter-name>newPasswordFilter</filter-name>
		<filter-class>controller.newPasswordFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>TransferFilter</filter-name>
		<url-pattern>/TransferFilter</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>TransferFilter</filter-name>
		<servlet-name>Transfer</servlet-name>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>ChangePasswordFilter</filter-name>
		<url-pattern>/ChangePasswordFilter</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>ChangePasswordFilter</filter-name>
		<servlet-name>ChangePassword</servlet-name>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>newPasswordFilter</filter-name>
		<url-pattern>/newPasswordFilter</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>newPasswordFilter</filter-name>
		<servlet-name>newPassword</servlet-name>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<servlet>
		<description>
		</description>
		<display-name>Login</display-name>
		<servlet-name>Login</servlet-name>
		<servlet-class>controller.Login</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Balance</display-name>
		<servlet-name>Balance</servlet-name>
		<servlet-class>controller.Balance</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Transfer</display-name>
		<servlet-name>Transfer</servlet-name>
		<servlet-class>controller.Transfer</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ChangePassword</display-name>
		<servlet-name>ChangePassword</servlet-name>
		<servlet-class>controller.ChangePassword</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>statement</display-name>
		<servlet-name>statement</servlet-name>
		<servlet-class>controller.statement</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Forgot</display-name>
		<servlet-name>Forgot</servlet-name>
		<servlet-class>controller.Forgot</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>newPassword</display-name>
		<servlet-name>newPassword</servlet-name>
		<servlet-class>controller.newPassword</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Balance</servlet-name>
		<url-pattern>/Balance</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Transfer</servlet-name>
		<url-pattern>/Transfer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangePassword</servlet-name>
		<url-pattern>/ChangePassword</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>statement</servlet-name>
		<url-pattern>/statement</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Forgot</servlet-name>
		<url-pattern>/Forgot</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>newPassword</servlet-name>
		<url-pattern>/newPassword</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>home.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
